body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px 0;
}

h1 {
    text-align: center;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    position: relative;
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #34495e;
}

nav .dropdown {
    display: none;
    position: absolute;
    background-color: #3498db;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav li:hover .dropdown {
    display: block;
}

nav .dropdown li {
    margin: 0;
}

nav .dropdown a {
    white-space: nowrap;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav .dropdown a:hover {
    background-color: #2980b9;
}

.cart {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}